<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel = "stylesheet" href="/css/stilos.css">
</head>
<body>
     <header>
        
        <div id="mainHeader">
            
            <a href="./index.html" id="divLogo"><img id = "logo" src="/images/logo-mercado-liebre.svg"></a>
            <form action="/barra-de-busqueda" method="POST" class="buscador">
                    <input type="search"  id="Buscar" placeholder="Buscar Productos, marcas">
    
                    <button id = "lupa"><i class="fas fa-search"></i></button>
            </form>
            <div id="compraCuotas">
                <p class="margen">
                    <i class="fas fa-hand-holding-usd "></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
                
            </div>
        </div>
        
        <nav class="navegador">
            <ul type="none" >
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</a></li>
                <li>Ayuda</a></li>
            </ul>
        
        
            <ul type="none">
                <a href="./register.html" id="enlace-registro">
                    <li>Creá tu cuenta <i class="far fa-id-card"></i></li>
                </a>
                <a href="./login.html" id="enlace-registro">
                    <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
                </a>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        
        <a href="#" class="burger-menu">
            <i class="fas fa-bars estilo"></i>
        </a>
        
        
    </header>
    
    <main>
        <div>
            <img id="banner" src="/images/img-home-banner.jpg">
        </div>
        <h1 class="titulares">Basado en tu última visita</h1>
        <section class="secciones">
                <article class="articulo" >
                    <img class= "imagen" src="/images/img-macbook-pro-2019.jpg" width="220px" height="200px">
                    <div class="productos">
                        <i class="fas fa-truck camion "></i>
                        <div class="flex">
                            <p class="precios">$230.000</p>
                            <p class="Descuento">20% off</p>
                        </div>
                        <p class="Descripcion">MacBook Pro 2019 </p>
                        
                        
                    </div>
                   
                </article>
                <article class="articulo" >
                    <img class= "imagen"src="/images/img-samsung-galaxy-s10.jpg"width="220px" height="200px">
                    <div class="productos">
                        <i class="fas fa-truck camion "></i>
                        <div class="flex">
                            <p class="precios">$40.000</p>
                            <p class="Descuento">25% off</p>
                        </div>
                        
                        <p class="Descripcion">Samsung Galaxy S10</p>
                        
                    </div>
                    
                </article>
                <article class="articulo">
                    <img class= "imagen" src="/images/img-tv-samsung-smart.jpg"width="220px" height="200px">
                    <div class="productos">
                        <i class="fas fa-truck camion"></i>
                        <div class="flex">
                            <p class="precios">$80.500</p>
                            <p class="Descuento">15% off</p>
                        </div>
                        <p class="Descripcion">Smart tv Samsung</p>
                    </div>
                    
                </article>
                <article class="articulo" >
                    <img class= "imagen"src="/images/img-cafetera-moulinex.jpg"width="220px" height="200px">
                    <div class="productos">
                        <i class="fas fa-truck camion "></i>
                        <div class="flex">
                            <p class="precios">$10.000</p>
                            <p class="Descuento">16% off</p>
                        </div>
                        <p class="Descripcion">Cafetera Moulinex</p>
                    </div>
                    
                </article>
        </section>
        <h1 class="titulares">Sección ofertas</h1>
        <section class="secciones">
                <article class="articulo">
                    <img class= "imagen" src="/images/img-macbook-pro-2019.jpg" width="220px" height="200px">
                    <div class="productos">
                        <i class="fas fa-truck camion"></i>
                        <div class="flex">
                            <p class="precios">$230.000</p>
                            <p class="Descuento">20% off</p>
                            
                        </div>
                        
                        <p class="Descripcion">MacBook Pro 2019</p>
                    </div>
                    
                </article>
                <article class="articulo">
                    <img class= "imagen"src="/images/img-samsung-galaxy-s10.jpg"width="220px" height="200px">
                    <div class="productos">
                        
                        <i class="fas fa-truck camion"></i>
                        <div class="flex">
                            <p class="precios">$40.000</p>
                            <p class="Descuento">25% off</p>
                        </div>
                        
                        <p class="Descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo" >
                    <img class= "imagen" src="/images/img-tv-samsung-smart.jpg"width="220px" height="200px">
                    <div class="productos">
                        <i class="fas fa-truck camion "></i>
                        <div class="flex">
                            <p class="precios">$80.500</p>
                            <p class="Descuento">15% off</p>
                        </div>
                        <p class="Descripcion">Smart tv Samsung</p>
                    </div>
                    
                </article>
                <article class="articulo" >
                    <img class= "imagen"src="/images/img-cafetera-moulinex.jpg"width="220px" height="200px">
                    <div class="productos">
                        <i class="fas fa-truck camion "></i>
                        <div class="flex">
                            <p class="precios">$10.000</p>
                            <p class="Descuento">16% off</p>
                        </div>
                        <p class="Descripcion">Cafetera Moulinex</p>
                    </div>
                    
                </article>
        </section>
    </main>
    <footer>
        <div id="main-footer">
            <div class="mi20">
                <i class="fas fa-credit-card icono"></i>
                <h6 class="tituloFooter">Pagá con tarjeta o efectivo</h6>
                <p class="textoFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br> puntos de pago.¡Y siempre es seguro!</p>
            </div>
                
            <div class="mi20">
                <i class="fas fa-gift icono"></i>
                <h6 class="tituloFooter">Envío gratis desde $ 2.500</h6>
                <p class="textoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br> productos. Es un beneficio de Mercado Puntos.</p>
            </div>    
            
            <div class="mi20">
                <i class="fas fa-user-shield icono"></i>
                <h6 class="tituloFooter">Seguridad, de principio a fin</h6>
                <p class="textoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas <br> hacer, porque estás siempre protegid@.</p>
            </div>
            
        </div>
        <p id="Copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        
    </footer> 
    
    
</body>
</html>